@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    align-items: center;
}


h1 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    font-size: 18px;
    margin-bottom: 10px;
}

form input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #f1f1f1;
}

td {
    font-size: 16px;
}

tr.completed td {
    text-decoration: line-through;
    color: #888;
}

.completed td {
    background-color: #e9ecef;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


.agregador_tareas, .tareas_pendientes {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.tarea_completada {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarea_completada h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.tarea_completada form {
    display: flex;
    flex-direction: column;
}

.tarea_completada select {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tarea_completada button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.tarea_completada button:hover {
    background-color: #0056b3;
}

.marcar{
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}